.btn_back {
  display: block;
  width: 80px;
  text-align: center;
  padding: 6px;
  margin-left: 30px;
  background-color: gray;
  box-shadow: 1px rgba(0, 0, 0, 0.5);
}

.btn_back:hover {
  background-color: rgb(183, 183, 236);
}
.addit_data {
  display: flex;
  margin: 0 auto;
  margin-left: 100px;
  gap: 50px;
  justify-content: start;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
}
.wrapper {
  padding: 20px;
}
.text {
  margin-top: 30px;
  font-size: 24px;
}
.subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}
